
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Kontakt</h1></center>


<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light">
            <center> <img src="https://image.flaticon.com/icons/png/512/197/197540.png" alt="Szwajcarja" width="80" height="80" /> </center>
            <br /><center>Łukasz Kołodziej</center>
            <br /><center>+41 76 784 50 81</center>
            <br /><center>autona.ch@gmail.com</center>
        </div>
        <div class="col py-3 px-lg-5 border bg-light">
            <center><img src="https://image.flaticon.com/icons/png/512/197/197529.png" alt="Polska" width="80" height="80" /></center>
            <br /><center>Piotr Satora</center>
            <br /><center>+48 508 099 436</center>
            <br /><center>satorapiotrsatora@gmail.com</center>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary">Home</button>
