@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>O nas</h1>

<h3>Kim jesteśmy</h3>
<p>
    opis kim jesteśmy opis kim jesteśmy opis kim jesteśmy opis kim jesteśmy opis kim jesteśmy
    opis kim jesteśmyopis kim jesteśmyopis kim jesteśmyopis kim jesteśmyopis kim jesteśmyopis kim jesteśmy
    opis kim jesteśmyopis kim jesteśmyopis kim jesteśmyopis kim jesteśmyopis kim jesteśmyopis kim jesteśmy
    opis kim jesteśmyopis kim jesteśmy opis kim jesteśmyopis kim jesteśmyopis kim jesteśmyopis kim jesteśmy
</p>

<h3>Jak działamy</h3>
<p>
    opis Jak działamy opis Jak działamy opis Jak działamy opis Jak działamy opis Jak działamy
    opis Jak działamy opis Jak działamy opis Jak działamy opis Jak działamy opis Jak działamy
    opis Jak działamy opis Jak działamy opis Jak działamy
</p>