@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>O nas</h1>
<hr />

<h3>Jak działamy</h3>
<p>
    Nasza firma świadczy usługi w zakresie pomocy przy zakupie samochodu ze szwajcari oraz sprowadzeniu go do polski pod sam dom klienta. 
</p>
